/* Define a cor de fundo e a cor do texto para o corpo da página */
body {
  background-color: #e0245e; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branca */
}

/* Estiliza a caixa de login */
#loginbox {
  margin-top: 30px; /* Espaçamento superior */
}

/* Adiciona padding inferior ao primeiro filho direto da caixa de login */
#loginbox > div:first-child {
  padding-bottom: 10px; /* Padding inferior */
}

/* Estiliza o ícone centralizado */
.iconmelon {
  display: block; /* Exibe como bloco */
  margin: auto; /* Centraliza horizontalmente */
}

/* Estiliza os elementos div dentro do formulário */
#form > div {
  margin-bottom: 25px; /* Espaçamento inferior */
}

/* Estiliza o último elemento div dentro do formulário */
#form > div:last-child {
  margin-top: 10px; /* Espaçamento superior */
  margin-bottom: 10px; /* Espaçamento inferior */
}

/* Define o fundo transparente para o painel */
.panel {
  background-color: transparent; /* Fundo transparente */
}

/* Estiliza o corpo do painel */
.panel-body {
  padding-top: 30px; /* Padding superior */
  background-color: #e0245e; /* Cor de fundo vermelha */
  border: 2px solid white; /* Borda branca */
}

/* Estiliza o contêiner de partículas */
#particles {
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: hidden; /* Oculta o conteúdo que transborda */
  top: 0; /* Alinha ao topo */
  bottom: 0; /* Alinha ao fundo */
  left: 0; /* Alinha à esquerda */
  right: 0; /* Alinha à direita */
  position: absolute; /* Posição absoluta */
  z-index: -2; /* Z-index negativo para ficar atrás de outros elementos */
}

/* Estiliza os ícones com a classe .iconmelon e .im */
.iconmelon,
.im {
  position: relative; /* Posição relativa */
  width: 150px; /* Largura de 150px */
  height: 150px; /* Altura de 150px */
  display: block; /* Exibe como bloco */
  fill: #e0245e; /* Cor de preenchimento vermelha */
}

/* Adiciona um pseudo-elemento após os ícones */
.iconmelon:after,
.im:after {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
}

/* Estiliza a seção "Sobre" */
#about {
  color: white; /* Cor do texto branca */
  background-color: #e0245e; /* Cor de fundo vermelha */
}

/* Estiliza o cabeçalho de inscrição */
#signUpHeader {
  background-color: #e0245e; /* Cor de fundo vermelha */
}

/* Estiliza o addon do grupo de entrada */
.input-group-addon {
  background-color: #e0245e; /* Cor de fundo vermelha */
  border-color: #e0245e; /* Cor da borda vermelha */
}

/* Estiliza o primeiro addon do grupo de entrada, ícone do Twitter e h2 */
.input-group-addon:first-child,
.fa-twitter,
h2 {
  color: white; /* Cor do texto branca */
}

/* Estiliza os campos de entrada do formulário */
.form-control {
  border-color: #e0245e; /* Cor da borda vermelha */
  font-size: 1.5rem; /* Tamanho da fonte */
  color: black; /* Cor do texto preta */
  font-weight: bold; /* Texto em negrito */
}

/* Estiliza o botão de inscrição */
#signUpBtn {
  color: #e0245e; /* Cor do texto vermelha */
  font-weight: bold; /* Texto em negrito */
  background-color: white; /* Cor de fundo branca */
}

/* Estiliza o conteúdo da seção "Sobre" */
#about-content {
  margin-top: 25px; /* Espaçamento superior */
  font-weight: bold; /* Texto em negrito */
}
